<div class="container">
  <div class="row center">

    <p>
      This project was created as part of the <a href="https://www.freecodecamp.org" target="_blank">FreeCodeCamp</a> curriculum.
    </p>

    <p>
      © 2018 Alexander Riseley
    </p>

    <a href="https://github.com/Egeroth24" target="_blank" title="Github"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/alexander-riseley-b52120129/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://codepen.io/Egeroth/" title="CodePen" target="_blank"><i class="fa fa-codepen"></i></a>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/materialize.min.js"></script>

<script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
  });
</script>
